.menu-nav {

    display: flex;
    align-items: center;
}

.menu-nav img {
    width: 100px;
    margin: 0 20px;
    animation-name: heartbeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.menu-nav h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}